/.idea/.idea.Isstays.StatusCode/.idea/.gitignore
/.idea/.idea.Isstays.StatusCode.dir/.idea/.gitignore
/Issatays.StatusCode/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.idea/.idea.Isstays.StatusCode.dir/.idea/indexLayout.xml
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.AssemblyInfo.cs
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.AssemblyInfoInputs.cache
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.assets.cache
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.csproj.AssemblyReference.cache
/Issatays.StatusCode/obj/Issatays.StatusCode.csproj.nuget.dgspec.json
/Issatays.StatusCode/obj/Issatays.StatusCode.csproj.nuget.g.props
/Issatays.StatusCode/obj/Issatays.StatusCode.csproj.nuget.g.targets
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.GeneratedMSBuildEditorConfig.editorconfig
/Issatays.StatusCode/obj/Debug/net8.0/Issatays.StatusCode.GlobalUsings.g.cs
/Issatays.StatusCode/obj/project.assets.json
/Issatays.StatusCode/obj/project.nuget.cache
/Issatays.StatusCode/obj/project.packagespec.json
/Issatays.StatusCode/obj/rider.project.model.nuget.info
/Issatays.StatusCode/obj/rider.project.restore.info
/.idea/.idea.Isstays.StatusCode.dir/.idea/vcs.xml
